rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // By default, deny all access
    match /{allPaths=**} {
      allow read, write: if false;
    }
    
    // Example: Allow users to read and write their own files in a "users/{userId}" folder
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
